<div>
    <div class="section">
        <h3>who am I</h3>
        <p>Name Mine </p>
    </div>
    <div class="section">
        <h3>how old</h3>
        <p>born in 1755</p>
    </div>
    <div class="section">
        <h3>where have I lived</h3>
        <ul>
            <li>all over the world</li>
        </ul>
    </div>
    <div class="section">
        <h3>experience </h3>
        <ul>
            <li>not dying</li>
        </ul>
    </div>
    <div class="section">
        <h3>prefered development environment</h3>
        GNU
    </div>

    <div class="section">
        <h3>site powered by</h3>
        <p>electricity and vibe-d</p>
    </div>
</div>
