body {
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #222
}

h2 {
    margin-top: 1em;
    padding-top: 1em
}

.error {
    background-color: pink;
    color: red
}

code, pre {
    background: #f5f7f9;
    border-bottom: 1px solid #d8dee9;
    color: #a7adba
}

code {
    padding: 2px 4px;
    vertical-align: text-bottom
}

pre {
    padding: 1em;
    border-left: 2px solid #69c
}

a {
    color: #566b78
}

header {
    border-bottom: 1px solid #566b78;
    background-color: #222;
    position: fixed;
    top: 0;
    width: 100%
}

header a {
    display: inline-block;
    margin: 0 5px;
    color: #969b98
}

.header_container {
    text-align: left;
    width: 50%;
    margin: 0 auto;
    height: 2em;
    padding-top: 10px
}

body {
    margin-bottom: 55px
}

footer {
    background-color: #222;
    border-top: 1px solid #566b78;
    color: #969b98;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px
}

.footer_container {
    text-align: left;
    width: 50%;
    margin: 0 auto;
    font-size: smaller
}

.main_container {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px
}

.navigation_container .tools_item {
    display: inline-block;
    min-width: 100px;
    margin: 0 5px
}

.tools_container {
    padding-top: 50px
}

#custom_map {
    border: 1px solid #d8dee9;
    -webkit-box-shadow: 1px 2px #c4cad5;
    box-shadow: 1px 2px #c4cad5
}

.display_none {
    display: none
}

.map_generator_form {
    display: grid;
    grid-template-columns: 350px auto
}

.map_generator_form label {
    width: 70px;
    display: inline-block
}

.map_generator_form input {
    width: 70px
}

.map_generator_form #seed {
    width: 200px
}

.map_generator_form .map_container {
    grid-column: 2;
    grid-row: 1/6
}

.random_paths_form label {
    width: 70px;
    display: inline-block
}

.random_paths_form input {
    width: 70px
}

#custom_paths {
    border: 1px solid #d8dee9;
    -webkit-box-shadow: 1px 2px #c4cad5;
    box-shadow: 1px 2px #c4cad5
}

.login_form label {
    display: inline-block;
    width: 100px
}

.login_form input {
    display: inline-block;
    width: 200px
}