<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Emil Perhinschi</title>
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    <header>
        <div class="header_container">
            <a class="active" aria-current="true" href="/">Home</a>
            <a href="/work">Work</a>
            <a href="/about">About</a>
        </div>
    </header>
    <div class="main_container">
        {{&contents}}
    </div>
    <footer>
        <div class="footer_container">
            <p>© 2018 Emil Nicolaie Perhinschi</p>
        </div>
    </footer>
</body>

</html>
